@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-card::before {
    content: "";
    position: absolute;
    /* background: linear-gradient(135deg, #59D5E0, #f6839e);  */
    background: #2a7b9b;
    background: linear-gradient(
        90deg,
        rgba(42, 123, 155, 1) 0%,
        rgba(87, 199, 133, 1) 50%,
        rgba(237, 221, 83, 1) 100%
    );
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.6s ease, height 0.6s ease;
    z-index: 0;
}

.highlight-card:hover::before {
    width: 400px;
    height: 400px;
}
@layer utilities {
    .scroll-mt-24 {
        scroll-margin-top: 6rem;
    }
}

/* Smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #e04622;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c0392b;
}

/* Image slider animations */
.slide-enter {
    opacity: 0;
    transform: translateX(100%);
}

.slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}

.slide-exit {
    opacity: 1;
    transform: translateX(0);
}

.slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
body.no-scroll {
    overflow: hidden;
    /* Prevent layout shift when scrollbar disappears */
    padding-right: calc(100vw - 100%);
}
